<!DOCTYPE html>
<html lang="pl">
${require('./partials/head.html')}
<body>
${require('./partials/header.html')}
<main class="main-content">
    <div class="one-percent-page">
        <article>
            <header style="background-image: url(${require('../images/1-procent.jpg')});">
                <div class="container">
                    <h1>Wesprzyj nas - podaruj 1% podatku</h1>
                    <a href="#przekaz" class="btn-primary btn-big">Przekaż 1%</a>
                </div>
            </header>
            <div class="container" id="przekaz">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Jak przekazać pieniądze dla naszego szczepu?</h2>
                    </div>
                    <div class="col-md-8">
                        <p>
                            Przekaż 1% podatku dla Szczepu 60 i 148 WDHiZ! <br>

                            Wystarczy wpisać nr KRS: 0000268913 oraz cel szczegółowy: MOKOTÓW 60i148 <br><br>

                            Prosimy o zaznaczenie zgody na przekazanie danych osobowych. Ułatwi nam to identyfikację wpłacających oraz da możliwość podziękowania za przekazany nam podatek.
                            <br><br>
                            Dziękujemy!
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4>Nasze konto:</h4>
                        <p>

                            Nazwa odbiorcy: Szczep 60 i 148

                            Adres (opcjonalnie): ul. Wiertnicza 26, 02-952 Warszawa

                            Nr konta: 87 1140 1010 0000 5143 0000 1011
                        </p>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-wrapper">
                            <a href="http://www.1procent.pl/" class="btn-primary btn-big">Dowiedz się więcej!</a>
                        </div>
                        <h2>Co robimy z otrzymanym 1%?</h2>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolorem exercitationem hic magnam magni maxime nulla omnis perspiciatis porro</li>
                            <li>soluta, tempore vitae voluptate. Dolores laboriosam odit possimus totam vitae! Perspiciatis?soluta, tempore vitae voluptate. Dolores laboriosam odit possimus totam vitae! Perspiciatis?soluta, tempore vitae voluptate. Dolores laboriosam odit possimus totam vitae! Perspiciatis?soluta, tempore vitae voluptate. Dolores laboriosam odit possimus totam vitae! Perspiciatis?</li>
                            <li>soluta, tempore vitae voluptate. Dolores laboriosam odit possimus totam vitae! Perspiciatis?</li>
                            <li>soluta, tempore vitae voluptate. Dolores laboriosam odit possimus totam vitae! Perspiciatis?soluta, tempore vitae voluptate. Dolores laboriosam odit possimus totam vitae! Perspiciatis?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>
${require('./partials/footer.html')}
</body>
</html>