<!DOCTYPE html>
<html lang="pl">
${require('./partials/head.html')}
<body>
${require('./partials/header.html')}
<main class="main-content">
    <div class="about-us-page">
        <div class="container">
            <article>
                <div class="row">
                    <div class="col-lg-9 col-md-12">
                        <h1>O nas</h1>
                        <blockquote>Naszą misją jest wychowanie młodego człowieka, czyli wspieranie go we
                            wszechstronnym rozwoju i kształtowaniu charakteru poprzez stawianie wyzwań.
                            <cite><a href="https://zhp.pl/ozhp/misja-zhp/ ">Dowiedz się więcej</a></cite>
                        </blockquote>
                        <p>
                            Masz co najmniej 10 lat i chcesz zostać harcerzem? Nic prostszego - przyjdź do nas
                            na zbiórkę. Spotykamy się w piątki w Szkole Podstawowej nr 261 im. Stanisława Kostki
                            Potockiego w Wilanowie - <a href="#">mapka</a>
                        </p>
                    </div>
                    <div class="col-md-3 d-none d-lg-block">
                        <img src="${require('../images/logo.png')}" alt="">
                    </div>
                    <div class="col-md-12">
                        <ul>
                            <li>
                                <div>
                                    <figure style="background-image: url(https://static.wixstatic.com/media/f32242_408b0fc9390b43779ea1d498d63e94d6.jpg/v1/fill/w_397,h_267,al_c,q_80,usm_0.66_1.00_0.01/f32242_408b0fc9390b43779ea1d498d63e94d6.webp);">
                                        <img src="https://static.wixstatic.com/media/f32242_408b0fc9390b43779ea1d498d63e94d6.jpg/v1/fill/w_397,h_267,al_c,q_80,usm_0.66_1.00_0.01/f32242_408b0fc9390b43779ea1d498d63e94d6.webp"
                                             alt="">
                                    </figure>
                                </div>
                                <div>
                                    <h2 class="h3">148 Warszawska Drużyna Harcerek "Koniczynki"​</h2>
                                    <p>
                                        Zapraszamy dziewczyny 4-6 klasa szkoły podstawowej. Na zbiórki zapraszamy
                                        dziewczyny w wieku 10-15 lat.
                                    </p>
                                    <a href="#" class="btn btn-primary btn-md">Skontaktuj się z drużynowym</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <figure style="background-image: url(https://static.wixstatic.com/media/f32242_09978f8864c440b185f32f98de27abb3.jpg/v1/fill/w_397,h_250,al_c,q_80,usm_0.66_1.00_0.01/f32242_09978f8864c440b185f32f98de27abb3.webp);">
                                        <img src="https://static.wixstatic.com/media/f32242_09978f8864c440b185f32f98de27abb3.jpg/v1/fill/w_397,h_250,al_c,q_80,usm_0.66_1.00_0.01/f32242_09978f8864c440b185f32f98de27abb3.webp"
                                             alt="">
                                    </figure>
                                </div>
                                <div>
                                    <h2 class="h3">60 Warszawska Drużyna Harcerzy "UFO"​​</h2>
                                    <p>
                                        Zapraszamy chłopaków 4 - 6 klasa szkoły podstawowej. Co się teraz u nas dzieje?
                                        Kiedy najbliższa zbiórka lub biwak? Koniecznie sprawdź na <a href="#">naszym
                                        blogu!</a>
                                    </p>
                                    <a href="#" class="btn btn-primary btn-md">Skontaktuj się z drużynowym</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <figure style="background-image: url(https://static.wixstatic.com/media/f32242_a3b483b3c12a46438c7f8c613d6bd761~mv2_d_1600_1600_s_2.jpg/v1/crop/x_0,y_286,w_1600,h_1028/fill/w_393,h_251,al_c,q_80,usm_0.66_1.00_0.01/token-sale-explosion.webp);">
                                        <img src="https://static.wixstatic.com/media/f32242_a3b483b3c12a46438c7f8c613d6bd761~mv2_d_1600_1600_s_2.jpg/v1/crop/x_0,y_286,w_1600,h_1028/fill/w_393,h_251,al_c,q_80,usm_0.66_1.00_0.01/token-sale-explosion.webp"
                                             alt="">
                                    </figure>
                                </div>
                                <div>
                                    <h2 class="h3">60 Warszawska Drużyna Starszoharcerska "HUK"</h2>
                                    <p>
                                        Zapraszamy wszystkich z klas 7 i 8. Zajmujemy się projektami, o których
                                        decydujecie Wy. Rzeczy niemożliwe robimy od ręki, na cuda trzeba chwilę
                                        poczekać.
                                    </p>
                                    <a href="#" class="btn btn-primary btn-md">Skontaktuj się z drużynowym</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </div>
</main>
${require('./partials/footer.html')}
</body>
</html>