<!DOCTYPE html>
<html lang="pl">
${require('./partials/head.html')}
<body>
${require('./partials/header.html')}v
<main class="main-content">
    <div class="gallery-page">
        <div class="container">
            <h1>Galerie Szczepu 60i148 WDHiZ</h1>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 gallery-page__item">
                    <h3 class="h4"><a href="#">HAL 2012</a></h3>
                    <a href="#" style="background-image: url(http://via.placeholder.com/400x200);">
                        <img src="http://via.placeholder.com/400x200" alt="">
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 gallery-page__item">
                    <h3 class="h4"><a href="#">HAL 2013</a></h3>
                    <a href="#" style="background-image: url(http://via.placeholder.com/400x200);">
                        <img src="http://via.placeholder.com/400x200" alt="">
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 gallery-page__item">
                    <h3 class="h4"><a href="#">HAL 2014</a></h3>
                    <a href="#" style="background-image: url(http://via.placeholder.com/400x200);">
                        <img src="http://via.placeholder.com/400x200" alt="">
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 gallery-page__item">
                    <h3 class="h4"><a href="#">Wigilia 2014</a></h3>
                    <a href="#" style="background-image: url(http://via.placeholder.com/400x200);">
                        <img src="http://via.placeholder.com/400x200" alt="">
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 gallery-page__item">
                    <h3 class="h4"><a href="#">HAL 2015</a></h3>
                    <a href="#" style="background-image: url(http://via.placeholder.com/400x200);">
                        <img src="http://via.placeholder.com/400x200" alt="">
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 gallery-page__item">
                    <h3 class="h4"><a href="#">Święto Szczepu 2016</a></h3>
                    <a href="#" style="background-image: url(http://via.placeholder.com/400x200);">
                        <img src="http://via.placeholder.com/400x200" alt="">
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 gallery-page__item">
                    <h3 class="h4"><a href="#">HAL 2016</a></h3>
                    <a href="#" style="background-image: url(http://via.placeholder.com/400x200);">
                        <img src="http://via.placeholder.com/400x200" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
${require('./partials/footer.html')}
</body>
</html>