<!DOCTYPE html>
<html lang="pl">
${require('./partials/head.html')}

<body>
${require('./partials/header.html')}
<main class="main-content">
    <div class="container">
        <div class="hero-page">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <article>
                        <h3>Tadeusz Zawadzki "Zośka"</h3>
                        <img src="https://static.wixstatic.com/media/f32242_a3e0788e038a4c84ae34f0147e2698c4.jpg/v1/fill/w_358,h_510,al_c,q_80,usm_0.66_1.00_0.01/f32242_a3e0788e038a4c84ae34f0147e2698c4.webp"/>
                        <br>
                        <h3>Bohater Szczepu</h3>
                        <br>
                        <br>
                        <p>Bohaterem naszego środowiska jest chłopak taki, jak Ty:</p>
                        <p>z marzeniami i zwariowanymi pomysłami, pełen zapału do działania. Jego młode lata przypadły
                            na trudny czas II Wojny Światowej i okupacji, wykorzystał je imponująco!</p>
                        <p>Przybrane nazwisko: Tadeusz Zieliński.</p>
                        <p>Pseudonimy: Kajman, Kotwicki, Lech Pomarańczowy, Tadeusz, Zośka.</p>
                        <p>Oficer czasu wojny WP: podporucznik [maj-czerwiec 1943].</p>
                        <p>Urodzony 24 stycznia 1921 w Warszawie, syn Józefa Zawadzkiego [inżyniera chemika,
                            późniejszego profesora, dziekana Wydz. Chemii i rektora Politechniki Warszawskiej, a
                            następnie prorektora tajnej Politechniki Warszawskiej, który pod
                            pseud. "Juliusz" działał w Referacie IIIc, następnie w ZO] i Leony Siemieńskiej,
                            nauczycielki, działaczki oświatowej.</p>
                        <p>Uczył się początkowo w Szkole Ziemi Mazowieckiej, a od 1933 w Państwowym Gimnazjum im.
                            Stefana Batorego [ul. Myśliwiecka 6], gdzie wiosną 1939 otrzymał świadectwo dojrzałości. W
                            jego klasie uczyli się późniejsi żołnierze warszawskich
                            Grup Szturmowych: Jan "Rudy" Bytnar i Krzysztof Kamil Baczyński.</p>
                        <p>Związany ze Związkiem Harcerstwa Polskiego od 1933, członek i zastępowy (1936) 23
                            Warszawskiej Drużyny Harcerskiej. Po wybuchu wojny wyruszył z Warszawy na wschód, z
                            harcerskim batalionem Chorągwi Warszawskiej. Wrócił do Warszawy w
                            październiku i niebawem znalazł się w konspiracji. Kiedy skupieni wokół niego harcerze z 23.
                            WDH utworzyli tzw. Wojenną Pomarańczarnię, stanął na jej czele.</p>
                        <p>Od października 1939 członek Polskiej Ludowej Akcji Niepodległościowej wydawał i kolportował
                            powielaczowe pismo Biuletyn Polski. W grudniu 1939 wraz z grupą harcerzy przeszedł do
                            Związku Walki Zbrojnej. Działał w tzw. komórce
                            więziennej, utrzymującej łączność z więźniami Pawiaka.</p>
                        <p>Na początku 1941 nawiązał kontakty z Szarymi Szeregami rozpoczął działalność w Wawrze,
                            kierując i biorąc osobisty udział w akcjach sabotażowo-dywersyjnych. Od października 1941
                            hufcowy hufca Mokotów Górny, równocześnie dowódca obwodu
                            Wawer. W 1942 ukończył kurs w Szkole Podchorążych i został mianowany podporucznikiem.</p>
                        <p>Od 3 listopada 1942 do tragicznej śmierci dowódca Grup Szturmowych (GS) Chorągwi Warszawskiej
                            Szarych Szeregów. Pod jego komendą GS przeprowadziły 13 akcji bojowych, w 10 z nich Zawadzki
                            brał osobisty udział, m.in. uczestnik tzw.
                            akcji pod Arsenałem 26 marca 1943 (akcją pod kryptonimem Meksyk II dowodził S. Broniewski,
                            pseudonim Orsza) oraz pod Celestynowem (20 maja 1943 roku).</p>
                        <p>Zginął 20 sierpnia 1943 podczas ataku na posterunek niemieckiej straży granicznej w
                            Sieczychach koło Wyszkowa. 1 września 1943, dla uczczenia pamięci Zawadzkiego, powołano
                            harcerski batalion "Zośka".</p>
                        <p>We wtorek, 24 VIII 1943, na Wojskowych Powązkach odbył się pogrzeb "Zośki".</p>
                        <p>Tego samego dnia na odprawie Komendy GS zreorganizowano warszawskie Grupy Szturmowe. Nadano
                            im strukturę batalionu. W ten sposób, 1 IX 1943, powstał batalion "Zośka".</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</main>
${require('./partials/footer.html')}
</body>

</html>
