<!DOCTYPE html>
<html lang="pl">
${require('./partials/head.html')}
<body>
${require('./partials/header.html')}
<main class="main-content">
  <div style="text-align: center;" class="container">
    <h1>Page List</h1>
    <ul style="padding-left: 0; list-style: none;">
      <li><a href="/main.html">Main Page</a></li>
      <li><a href="/gallery.html">Gallery Page</a></li>
      <li><a href="/single-gallery.html">Single Gallery Page</a></li>
      <li><a href="/contact.html">Contact Page</a></li>
      <li><a href="/about-us.html">About Us Page</a></li>
      <li><a href="/download.html">DO Pobrania</a></li>
      <li><a href="/hero.html">Bohater Szczepu</a></li>
      <li><a href="/1-procent.html">1%</a></li>
      <li><a href="/styleguide.html">Style Guide</a></li>
    </ul>
  </div>
</main>
${require('./partials/footer.html')}
</body>
</html>
