<!DOCTYPE html>
<html lang="pl">
${require('./partials/head.html')}
<body>
${require('./partials/header.html')}
<main class="main-content">
    <div class="main-page">
        ${require('./components/page-slider.html')}
        <div class="container">
            ${require('./components/welcome-banner.html')}
            ${require('./components/posts-list.html')}
            ${require('./components/gallery-banner.html')}
        </div>
    </div>
</main>
${require('./partials/footer.html')}
</body>
</html>