<!DOCTYPE html>
<html lang="pl">
${require('./partials/head.html')}
<body>
${require('./partials/header.html')}
<main class="main-content">
    <div class="single-gallery-page">
        <div class="container">
            <h1>HAL 2015</h1>
            <ul class="gallery-banner__gallery">
                <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
                    <img src="http://via.placeholder.com/300x470" alt="">
                    <span>
                        643
                        <button><i class="fa fa-heart-o"></i></button>
                    </span>
                </li>
                <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
                    <img src="http://via.placeholder.com/300x470" alt="">
                    <span>
                        643
                        <button><i class="fa fa-heart-o"></i></button>
                    </span>
                </li>
                <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
                    <img src="http://via.placeholder.com/300x470" alt="">
                    <span>
                        643
                        <button><i class="fa fa-heart-o"></i></button>
                    </span>
                </li>
                <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
                    <img src="http://via.placeholder.com/300x470" alt="">
                    <span>
                        643
                        <button><i class="fa fa-heart-o"></i></button>
                    </span>
                </li>
                <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
                    <img src="http://via.placeholder.com/300x470" alt="">
                    <span>
                        643
                        <button><i class="fa fa-heart-o"></i></button>
                    </span>
                </li>
                <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
                    <img src="http://via.placeholder.com/300x470" alt="">
                    <span>
                        643
                        <button><i class="fa fa-heart-o"></i></button>
                    </span>
                </li>
                <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
                    <img src="http://via.placeholder.com/300x470" alt="">
                    <span>
                        643
                        <button><i class="fa fa-heart-o"></i></button>
                    </span>
                </li>
                <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
                    <img src="http://via.placeholder.com/300x470" alt="">
                    <span>
                        643
                        <button><i class="fa fa-heart-o"></i></button>
                    </span>
                </li>
                <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
                    <img src="http://via.placeholder.com/300x470" alt="">
                    <span>
                        643
                        <button><i class="fa fa-heart-o"></i></button>
                    </span>
                </li>
                <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
                    <img src="http://via.placeholder.com/300x470" alt="">
                    <span>
                        643
                        <button><i class="fa fa-heart-o"></i></button>
                    </span>
                </li>
                <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
                    <img src="http://via.placeholder.com/300x470" alt="">
                    <span>
                        643
                        <button><i class="fa fa-heart-o"></i></button>
                    </span>
                </li>
                <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
                    <img src="http://via.placeholder.com/300x470" alt="">
                    <span>
                        643
                        <button><i class="fa fa-heart-o"></i></button>
                    </span>
                </li>
                <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
                    <img src="http://via.placeholder.com/300x470" alt="">
                    <span>
                        643
                        <button><i class="fa fa-heart-o"></i></button>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</main>
${require('./partials/footer.html')}
</body>
</html>