<!DOCTYPE html>
<html lang="pl">
${require('./partials/head.html')}
<body>
${require('./partials/header.html')}
<main class="main-content">
    <div class="container">
        <h1>Lorem Ipsum est dolores</h1>
        <h2 class="text-secondary">Lorem Ipsum est dolores</h2>
        <h3>Lorem Ipsum est dolores</h3>
        <h4 class="text-accent">Lorem Ipsum est dolores</h4>
        <h5>Lorem Ipsum est dolores</h5>
        <h6>Lorem Ipsum est dolores</h6>

        <p>
            Lorem Ipsum <em>est dolores Lorem Ipsum est</em> dolores Lorem Ipsum est dolores Lorem Ipsum est doloresLorem Ipsum
            est
            doloresLorem <strong>Ipsum est dolores Lorem Ipsu</strong>m est doloresLorem Ipsum est doloresLorem Ipsum est doloresLorem
            Ipsum
            est
            doloresLorem Ipsum est dolores Lorem Ipsum est dolores
            <a href="#">Lorem Ipsum est dolores</a>
            Lorem Ipsum est doloresLorem Ipsum est dolores
        </p>

        <p class="small-text">
            Lorem Ipsum est dolores Lorem Ipsum est dolores Lorem Ipsum est dolores Lorem Ipsum est doloresLorem Ipsum
            est
            <strong>oloresLorem oloresLorem</strong> Ipsum est dolores Lorem Ipsum est doloresLorem Ipsum est doloresLorem Ipsum est doloresLorem
            Ipsum
            est
            <em>doloresLorem Ipsum est dolores </em>Lorem Ipsum est dolores
            <a href="#">Lorem Ipsum est dolores</a>
            Lorem Ipsum est doloresLorem Ipsum est dolores
        </p>

        <a href="#">Lorem Ipsum est dolores</a>

        <div class="text">
            <ul>
                <li>Lorem Ipsum est dolores</li>
                <li>Lorem Ipsum est dolores</li>
                <li>Lorem Ipsum est dolores</li>
                <li>Lorem Ipsum est dolores</li>
                <li>Lorem Ipsum est dolores</li>
                <li>
                    Lorem Ipsum est dolores
                    <ul>
                        <li>Lorem Ipsum est dolores</li>
                        <li>Lorem Ipsum est dolores</li>
                        <li>Lorem Ipsum est dolores</li>
                    </ul>
                </li>
            </ul>
        </div>

        <img src="http://via.placeholder.com/700x350" alt="Image">
        <form action="">
            <input type="text">
            <textarea name="" id="t" cols="30" rows="10"></textarea>
            <select name="" id="s">
                <option value=""></option>
                <option value=""></option>
            </select>
            <button>SEND</button>
        </form>
    </div>
</main>
${require('./partials/footer.html')}
</body>
</html>