/*
!wp-content/

.*
!.gitignore

!readme.md

~*
ehthumbs.db
Thumbs.db

*.7z
*.gz
*.rar
*.tar
*.zip

wp-content/*
!wp-content/plugins/
!wp-content/themes/
wp-content/uploads/*
!wp-content/uploads/
!wp-content/uploads/.htaccess

wp-content/plugins/hello.php
wp-content/themes/twenty*/

node_modules/
dist/

wp-content/themes/*/vendor/*
wp-content/themes/*/vendor
!/.htaccess-sample
!/wp-content/.htaccess
!/wp-content/themes/custom-theme/.env-sample
/wp-content/themes/custom-theme/composer.lock
/wp-content/themes/custom-theme/front/package-lock.json
!/setup.sh