<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <h5>Informacje</h5>
                <p>
                    <strong>Szczep 60i148 WDHiZ <br>im. T. Zawadzkiego "Zośki"</strong> <br>
                    ul. Wiertnicza 26 <br>
                    02-952, Warszawa
                    <br><br>
                    Nr konta: <br>
                    87 1140 1010 0000 5143 0000 1011
                </p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h5>Kontakt</h5>
                <p>
                    <strong>p.o. Komendanta Szczepu</strong> <br>
                    Mateusz Dąbrowski <br>
                    <a href="#">+48 123 465 789</a> <br>
                    <a href="#">example@example.com</a><br><br>
                    <a href="#" class="btn-primary">Dołącz!</a>
                </p>
            </div>
            <div class="col-lg-4 col-md-12">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F60i148%2F&tabs=timeline&width=290&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=581015648988846" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</footer>
<div class="page-footer__bottom">
    <ul>
        <li><a href="#">Copyright © 2018 Szczep 60i148 WDHiZ im. T. Zawadzkiego "Zośki"</a></li>
        <li><a href="#">Polityka prywatnośc</a></li>
        <li><a href="#">Kontakt</a></li>
        <li><a href="https://zhp.pl">ZHP</a></li>
    </ul>
</div>
${require('../components/cookie-notification.html')}