<header id="page-header" class="page-header" role="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="page-logo">
                    <img id="main-nav-logo" src="${require('../../images/logo.png')}" alt="">
                </a>
                <div class="page-header__top">
                    <form action="">
                        <input type="search" placeholder="Szukaj">
                        <button></button>
                    </form>
                    <ul class="social-menu">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                    <button id="toggle-menu-button">
                        <i></i>
                        <i></i>
                        <i></i>
                    </button>
                </div>
                <nav class="page-header__menu">
                    <ul class="main-menu">
                        <li class="current-menu-item"><a href="#">Home</a></li>
                        <li>
                            <a href="#">Dołącz</a>
                        </li>
                        <li><a href="#">Bohater</a></li>
                        <li><a href="#">Galeria</a></li>
                        <li><a href="#">1 %</a></li>
                        <li>
                            <a href="#">Do pobrania</a>
                        </li>
                        <li><a href="#">Kontakt</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
${require('../components/loader.html')}