<div class="contact-people">
    <div class="container">
        <div class="contact-people__slider">
            <div class="contact-people__slider-item">
                <img src="http://via.placeholder.com/148x148" alt="">
                <h5>Mateusz Dąbrowski</h5>
                <h6>p.o. Komendanta Szczepu <br>60i148 WDHiZ</h6>
                <p>
                    <a href="mailto:mateusz@60i148.pl">mateusz@60i148.pl</a> <br>
                    <a href="tel:+48123456789">+48 123 456 789</a>
                </p>
            </div>
            <div class="contact-people__slider-item">
                <img src="http://via.placeholder.com/148x148" alt="">
                <h5>Bruno Reich</h5>
                <h6>Drużynowy <br> 60 WDH-y "UFO"</h6>
                <p>
                    <a href="mailto:mateusz@60i148.pl">bruno@60i148.pl</a> <br>
                    <a href="tel:+48123456789">+48 123 456 789</a>
                </p>
            </div>
            <div class="contact-people__slider-item">
                <img src="http://via.placeholder.com/148x148" alt="">
                <h5>Oskar Kupski</h5>
                <h6>Drużynowy <br> 60 WDSH "HUK"</h6>
                <p>
                    <a href="mailto:mateusz@60i148.pl">oskar@60i148.pl</a> <br>
                    <a href="tel:+48123456789">+48 123 456 789</a>
                </p>
            </div>
            <div>
                <img src="http://via.placeholder.com/148x148" alt="">
                <h5>Hanna Michalska</h5>
                <h6>Drużynowa <br> 148 WDH-ek "Koniczynki"</h6>
                <p>
                    <a href="mailto:mateusz@60i148.pl">hania@60i148.pl</a> <br>
                    <a href="tel:+48123456789">+48 123 456 789</a>
                </p>
            </div>
        </div>
    </div>
</div>