<div class="contact-info">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5>Informacje</h5>
                <p>
                    <strong>Szczep 60i148 WDHiZ <br>im. T. Zawadzkiego "Zośki"</strong> <br>
                    ul. Wiertnicza 26 <br>
                    02-952, Warszawa
                    <br><br>
                    Nr konta: <br>
                    87 1140 1010 0000 5143 0000 1011
                </p>
            </div>
            <div class="col-md-7">
                <form action="">
                    <label for="name" class="error">Imię i Nazwisko</label>
                    <input type="text" id="name" class="error">
                    <label for="email">E-mail</label>
                    <input type="email" id="email">
                    <label for="message">Wiadomość</label>
                    <textarea id="message"></textarea>
                    <div style="text-align: center">
                        <button>Wyślij</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>