<section class="gallery-banner">
    <h2>W obiektywie</h2>
    <ul class="gallery-banner__gallery">
        <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
            <img src="http://via.placeholder.com/300x470" alt="">
            <span>
                643
                <button><i class="fa fa-heart-o"></i></button>
            </span>
        </li>
        <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
            <img src="http://via.placeholder.com/300x470" alt="">
            <span>60
                <button><i class="fa fa-heart"></i></button>
            </span>
        </li>
        <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
            <img src="http://via.placeholder.com/300x470" alt="">
            <span>1
                <button><i class="fa fa-heart-o"></i></button>
            </span>
        </li>
        <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
            <img src="http://via.placeholder.com/300x470" alt="">
            <span>
                <button><i class="fa fa-heart"></i></button>
            </span>
        </li>
        <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
            <img src="http://via.placeholder.com/300x470" alt="">
            <span>
                <button><i class="fa fa-heart-o"></i></button>
            </span>
        </li>
        <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
            <img src="http://via.placeholder.com/300x470" alt="">
            <span>
                <button><i class="fa fa-heart-o"></i></button>
            </span>
        </li>
        <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
            <img src="http://via.placeholder.com/300x470" alt="">
            <span>
                <button><i class="fa fa-heart-o"></i></button>
            </span>
        </li>
        <li data-src="http://via.placeholder.com/1300x970" style="background-image: url(http://via.placeholder.com/300x470)">
            <img src="http://via.placeholder.com/300x470" alt="">
            <span>
                <button><i class="fa fa-heart-o"></i></button>
            </span>
        </li>
    </ul>
    <div class="read-more">
        <a href="#" class="btn-primary btn-big">Zobacz Więcej</a>
    </div>
</section>