<div class="page-slider page-slider--scalable">
    <div class="page-slider__item" style="background-image: url(${require(`../../images/szczep.jpg`)})">
        <img src="${require(`../../images/szczep.jpg`)}" alt="Szczep 60i148 WDHiZ">
        <div class="page-slider__item-bg"></div>
        <div class="page-slider__item-content page-slider__item-content--center-x page-slider__item-content--center-y">
            <h2>KATALOGI</h2>
            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque consequuntur dolorum, ducimus repudiandae</h4>
            <a href="#" class="btn-primary">Zobacz Więcej!</a>
        </div>
    </div>
    <div class="page-slider__item" style="background-image: url(${require(`../../images/szczep2.jpg`)})">
        <img src="${require(`../../images/szczep2.jpg`)}" alt="Szczep 60i148 WDHiZ">
        <div class="page-slider__item-bg" style="background: rgba(0,0,0,.4);"></div>
        <div class="page-slider__item-content page-slider__item-content--top page-slider__item-content--right" style="text-align: left">
            <h2>LOREM Ipsum XDDD</h2>
        </div>
    </div>
    <a href="#" class="page-slider__item" style="background-image: url(${require(`../../images/szczep3.jpg`)})">
        <img src="${require(`../../images/szczep3.jpg`)}" alt="Szczep 60i148 WDHiZ">
        <div class="page-slider__item-bg"></div>
        <div class="page-slider__item-content page-slider__item-content--center-y page-slider__item-content--left">
            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet aperiam architecto aut consectetur dolores, vero? Incidunt iste, unde. Aperiam.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium eligendi et ipsum laborum laudantium libero molestiae mollitia nulla, quasi quia quisquam quo suscipit totam velit vero voluptatum. Ipsa, totam.</p>
        </div>
    </a>
</div>