<section>
    <h2>Aktualności</h2>
    <div class="posts-list">
        <div class="posts-list__item" style="background-image: url(http://via.placeholder.com/300x450);">
            <img src="http://via.placeholder.com/300x450" alt="">
            <div>
                <ul>
                    <li><a href="#">obóz</a></li>
                    <li><a href="#">organizacyjne</a></li>
                </ul>
                <h3><a href="#">Informator Obozowy</a></h3>
            </div>
        </div>
        <div class="posts-list__column">
            <div class="posts-list__item" style="background-image: url(http://via.placeholder.com/300x450);">
                <img src="http://via.placeholder.com/300x450" alt="">
                <div>
                    <ul>
                        <li><a href="#">obóz</a></li>
                        <li><a href="#">organizacyjne</a></li>
                    </ul>
                    <h3><a href="#">Płatność za obóz</a></h3>
                </div>
            </div>
            <div class="posts-list__item" style="background-image: url(http://via.placeholder.com/300x450);">
                <img src="http://via.placeholder.com/300x450" alt="">
                <div>
                    <ul>
                        <li><a href="#">biwaki</a></li>
                        <li><a href="#">zdjęcia</a></li>
                        <li><a href="#">szczepowo</a></li>
                    </ul>
                    <h3><a href="#">Święto Szczepu</a></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="read-more">
        <a href="#" class="btn-primary btn-big">Zobacz Więcej</a>
    </div>
</section>