<section class="welcome-banner">
    <h1>Szczep 60i148 WDHiZ <br> im. T. Zawadzkiego "Zośki"</h1>
    <div class="row">
        <div class="col-lg-6">
            <h3 class="text-accent">Czuwaj!</h3>
            <p>
                Masz co najmniej 10 lat i chcesz przeżyć harcerską przygodę? <br><br>
                <strong>Nic prostszego</strong> - przyjdź do nas na zbiórkę i przekonaj się sam. Spotykamy się w piątki w
                <a href="#">Szkole Podstawowej nr 261 im. Stanisława Kostki Potockiego w Wilanowie</a>.
                Zapraszamy wszystkich od 4. klasy szkoły podstawowej do 3. klasy gimnazjum!
            </p>
            <div class="read-more">
                <a href="#" class="btn-primary btn-big">Dołącz do nas!</a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="welcome-banner__video">
                <iframe src="https://www.youtube.com/embed/FMwMrlXFBKc?mute=1&autoplay=1&showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>