@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/MuseoSans-100.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/MuseoSans-300.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/MuseoSans-500.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/MuseoSans-700.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/MuseoSans-900.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}